body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #44831fbe;
}

.quemSomos{
    background-color: #58ACFA;
    color: white;
}

.margin{

    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color: #6288aca2;
    color: white;
}

.bg-footer{
    background-color: black;
    color:white;
}